In [1]:
import pandas as pd
from datasets import load_dataset
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
asr = pd.read_csv('Dataset(Jan-25)\Amazon Sale Report.csv')
cwc = pd.read_csv('Dataset(Jan-25)\Cloud Warehouse Compersion Chart.csv')
expense = pd.read_csv('Dataset(Jan-25)\Expense IIGF.csv')
isr = pd.read_csv('Dataset(Jan-25)/International sale Report.csv')
may = pd.read_csv('Dataset(Jan-25)\May-2022.csv')
pl = pd.read_csv('Dataset(Jan-25)\P  L March 2021.csv')
sr = pd.read_csv('Dataset(Jan-25)\Sale Report.csv')

In [3]:
print(asr.shape)
print(cwc.shape)
print(expense.shape)
print(isr.shape)
print(may.shape)
print(pl.shape)
print(sr.shape)

(128975, 23)
(50, 4)
(17, 5)
(37432, 10)
(1330, 17)
(1330, 18)
(9271, 7)

PREPROCCESSING

Dropping Duplicates

In [4]:
asr.drop_duplicates()
cwc.drop_duplicates()
expense.drop_duplicates()
isr.drop_duplicates()
may.drop_duplicates()
pl.drop_duplicates()
sr.drop_duplicates()

,index,Product_SKU,Design_Number,Stock_Level,Product_Category,Product_Size,Product_Color
0,0,AN201-RED-L,AN201,5.0,AN : LEGGINGS,L,Red
1,1,AN201-RED-M,AN201,5.0,AN : LEGGINGS,M,Red
2,2,AN201-RED-S,AN201,3.0,AN : LEGGINGS,S,Red
3,3,AN201-RED-XL,AN201,6.0,AN : LEGGINGS,XL,Red
4,4,AN201-RED-XXL,AN201,3.0,AN : LEGGINGS,XXL,Red
...,...,...,...,...,...,...,...
9266,9266,NaN,NaN,NaN,NaN,NaN,NaN
9267,9267,NaN,NaN,NaN,NaN,NaN,NaN
9268,9268,NaN,NaN,NaN,NaN,NaN,NaN
9269,9269,NaN,NaN,NaN,NaN,NaN,NaN
9270,9270,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
asr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   128975 non-null  int64
 1   Order_ID                128975 non-null  object
 2   Order_Date              128975 non-null  object
 3   Order_Status            128975 non-null  object
 4   Fulfillment_Type        128975 non-null  object
 5   Sales_Channel           128975 non-null  object
 6   Shipping_Service_Level  128975 non-null  object
 7   Product_Style           128975 non-null  object
 8   Product_SKU             128975 non-null  object
 9   Product_Category        128975 non-null  object
 10  Product_Size            128975 non-null  object
 11  Amazon_Standard_ID      128975 non-null  object
 12  Courier_Status          122103 non-null  object
 13  Quantity                128975 non-null  int64
 14  Currency                121180 non-null  object
 15  Sale_Amount             121180 non-null  float64
 16  Shipping_City           128942 non-null  object
 17  Shipping_State          128942 non-null  object
 18  Shipping_Postal_Code    128942 non-null  float64
 19  Shipping_Country        128942 non-null  object
 20  Promotion_IDs           79822 non-null   object
 21  Business_to_Business    128975 non-null  bool
 22  Fulfilled_By            39277 non-null   object
dtypes: bool(1), float64(2), int64(2), object(18)
memory usage: 21.8+ MB

In [6]:
isr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37432 entries, 0 to 37431
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               37432 non-null  int64
 1   Sale_Date           37431 non-null  object
 2   Sale_Month          37407 non-null  object
 3   Customer_Name       36392 non-null  object
 4   Product_Style       36392 non-null  object
 5   Product_SKU         34958 non-null  object
 6   Product_Size        36392 non-null  object
 7   Quantity_Purchased  36392 non-null  object
 8   Price_per_Unit      36392 non-null  object
 9   Gross_Amount        36392 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.9+ MB

FINDING UNIQUE VALUES IN COLUMNS TO IMPUTE OR DROP THEM

In [7]:
asr['Promotion_IDs'].unique()

array([nan,
       'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-XXRCW6NZEPZI4,Amazon PLCC Free-Financing Universal Merchant AAT-CXNSLNBROFDW4,Amazon PLCC Free-Financing Universal Merchant AAT-R7GXNZWISTRFA,Amazon PLCC Free-Financing Universal Merchant AAT-WSJLDN3X7KEMO,Amazon PLCC Free-Financing Universal Merchant AAT-VL6FGQVGQVXUS,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-ZYL5UPUNW6T62,Amazon PLCC Free-Financing Universal Merchant AAT-XVPICCHRWDCAI,Amazon PLCC Free-Financing Universal Merchant AAT-ETXQ3XXWMRXBG,Amazon PLCC Free-Financing Universal Merchant AAT-7X3XCTYG64VBE,Amazon PLCC Free-Financing Universal Merchant AAT-7CHGD3WTS3MHM,Amazon PLCC Free-Financing Universal Merchant AAT-26ZDKNME27X42,Amazon PLCC Free-Financing Universal Merchant AAT-4ZF5KN6E4LJK4,Amazon PLCC Free-Financing Universal Merchant AAT-7RCXIKUAX7DDY,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4',
       'IN Core Free Shipping 2015/04/08 23-48-5-108', ...,
       'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-SL3Y2YRMAUNFC,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-EWAPBB6BDRGM6,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-5ZEB2OGNZ32MC,Amazon PLCC Free-Financing Universal Merchant AAT-NT3ZJJGQ3JK3Q,Amazon PLCC Free-Financing Universal Merchant AAT-TNYBHEAO7HOHO,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4,Amazon PLCC Free-Financing Universal Merchant AAT-QMFZ3M7T5NPDS,Amazon PLCC Free-Financing Universal Merchant #MP-pmilan-1601980554292',
       'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-SL3Y2YRMAUNFC,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-EWAPBB6BDRGM6,Amazon PLCC Free-Financing Universal Merchant AAT-R7GXNZWISTRFA,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-5ZEB2OGNZ32MC,Amazon PLCC Free-Financing Universal Merchant AAT-NT3ZJJGQ3JK3Q,Amazon PLCC Free-Financing Universal Merchant AAT-5SHH3G55USK5C,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4',
       'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-EWAPBB6BDRGM6,Amazon PLCC Free-Financing Universal Merchant AAT-R7GXNZWISTRFA,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-NT3ZJJGQ3JK3Q,Amazon PLCC Free-Financing Universal Merchant AAT-5SHH3G55USK5C,Amazon PLCC Free-Financing Universal Merchant AAT-TNYBHEAO7HOHO,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4,Amazon PLCC Free-Financing Universal Merchant AAT-QMFZ3M7T5NPDS,Amazon PLCC Free-Financing Universal Merchant #MP-pmilan-1601980554292'],
      dtype=object)

In [8]:
asr['Currency'].unique() # impute nan to INR as it is nan because the orders are cancelled

array(['INR', nan], dtype=object)

In [9]:
asr['Courier_Status'].unique() #imputer nan to cancelled

array([nan, 'Shipped', 'Cancelled', 'Unshipped'], dtype=object)

In [10]:
asr['Shipping_Country'].unique() #drop nulls since there are only 33 values

array(['IN', nan], dtype=object)

In [11]:
print(f"Amount of missing values in asr: {asr.isnull().sum().sum()}")
print(f"Amount of missing values in cwc: {cwc.isnull().sum().sum()}")
print(f"Amount of missing values in Expense IIGF: {expense.isnull().sum().sum()}")
print(f"Amount of missing values in International sales report: {isr.isnull().sum().sum()}")
print(f"Amount of missing values in may-2022: {may.isnull().sum().sum()}")
print(f"Amount of missing values in P L march: {pl.isnull().sum().sum()}")
print(f"Amount of missing values in Sales report: {sr.isnull().sum().sum()}")

Amount of missing values in asr: 161445
Amount of missing values in cwc: 60
Amount of missing values in Expense IIGF: 24
Amount of missing values in International sales report: 8740
Amount of missing values in may-2022: 0
Amount of missing values in P L march: 0
Amount of missing values in Sales report: 281

CLEANING AND FORMATING ASR

In [12]:
asr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   index                   128975 non-null  int64
 1   Order_ID                128975 non-null  object
 2   Order_Date              128975 non-null  object
 3   Order_Status            128975 non-null  object
 4   Fulfillment_Type        128975 non-null  object
 5   Sales_Channel           128975 non-null  object
 6   Shipping_Service_Level  128975 non-null  object
 7   Product_Style           128975 non-null  object
 8   Product_SKU             128975 non-null  object
 9   Product_Category        128975 non-null  object
 10  Product_Size            128975 non-null  object
 11  Amazon_Standard_ID      128975 non-null  object
 12  Courier_Status          122103 non-null  object
 13  Quantity                128975 non-null  int64
 14  Currency                121180 non-null  object
 15  Sale_Amount             121180 non-null  float64
 16  Shipping_City           128942 non-null  object
 17  Shipping_State          128942 non-null  object
 18  Shipping_Postal_Code    128942 non-null  float64
 19  Shipping_Country        128942 non-null  object
 20  Promotion_IDs           79822 non-null   object
 21  Business_to_Business    128975 non-null  bool
 22  Fulfilled_By            39277 non-null   object
dtypes: bool(1), float64(2), int64(2), object(18)
memory usage: 21.8+ MB

In [13]:
asr.isnull().sum()

index                         0
Order_ID                      0
Order_Date                    0
Order_Status                  0
Fulfillment_Type              0
Sales_Channel                 0
Shipping_Service_Level        0
Product_Style                 0
Product_SKU                   0
Product_Category              0
Product_Size                  0
Amazon_Standard_ID            0
Courier_Status             6872
Quantity                      0
Currency                   7795
Sale_Amount                7795
Shipping_City                33
Shipping_State               33
Shipping_Postal_Code         33
Shipping_Country             33
Promotion_IDs             49153
Business_to_Business          0
Fulfilled_By              89698
dtype: int64

In [14]:
asr['Fulfilled_By'] =asr['Fulfilled_By'].fillna('Other')
asr['Promotion_IDs'] =asr['Promotion_IDs'].fillna('No Promotion')
asr['Currency'] =asr['Currency'].fillna('INR')
asr['Sale_Amount'] =asr['Sale_Amount'].fillna(0)
asr['Order_Status'] =asr['Order_Status'].fillna('Not Delivered')

In [15]:
asr = asr.drop('index', axis=1) #index wont lineup so has to dropped

In [16]:
asr['Order_Date'] =  pd.to_datetime(asr['Order_Date'])

In [17]:
print(f"Amount of missing values in asr: {asr.isnull().sum().sum()}")
print(f"Amount of missing values in cwc: {cwc.isnull().sum().sum()}")
print(f"Amount of missing values in Expense IIGF: {expense.isnull().sum().sum()}")
print(f"Amount of missing values in International sales report: {isr.isnull().sum().sum()}")
print(f"Amount of missing values in may-2022: {may.isnull().sum().sum()}")
print(f"Amount of missing values in P L march: {pl.isnull().sum().sum()}")
print(f"Amount of missing values in Sales report: {sr.isnull().sum().sum()}")

Amount of missing values in asr: 7004
Amount of missing values in cwc: 60
Amount of missing values in Expense IIGF: 24
Amount of missing values in International sales report: 8740
Amount of missing values in may-2022: 0
Amount of missing values in P L march: 0
Amount of missing values in Sales report: 281

In [18]:
asr.dropna(inplace=True)
cwc.dropna(inplace=True)
expense.dropna(inplace=True)
expense.dropna(inplace=True)
sr.dropna(inplace=True)

CLEANING AND FORMATTING ISR

In [19]:
isr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37432 entries, 0 to 37431
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               37432 non-null  int64
 1   Sale_Date           37431 non-null  object
 2   Sale_Month          37407 non-null  object
 3   Customer_Name       36392 non-null  object
 4   Product_Style       36392 non-null  object
 5   Product_SKU         34958 non-null  object
 6   Product_Size        36392 non-null  object
 7   Quantity_Purchased  36392 non-null  object
 8   Price_per_Unit      36392 non-null  object
 9   Gross_Amount        36392 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.9+ MB

In [20]:
isr.isnull().sum()

index                    0
Sale_Date                1
Sale_Month              25
Customer_Name         1040
Product_Style         1040
Product_SKU           2474
Product_Size          1040
Quantity_Purchased    1040
Price_per_Unit        1040
Gross_Amount          1040
dtype: int64

In [21]:
isr.dropna(subset=['Product_SKU'], inplace=True) #Product_SKu cannot be imputed

In [22]:
isr = isr.drop('index', axis=1) #drop index as its not alligned after dropping NaN values

In [23]:
isr.isnull().sum()

Sale_Date             0
Sale_Month            0
Customer_Name         0
Product_Style         0
Product_SKU           0
Product_Size          0
Quantity_Purchased    0
Price_per_Unit        0
Gross_Amount          0
dtype: int64

In [24]:
isr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34958 entries, 0 to 37431
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sale_Date           34958 non-null  object
 1   Sale_Month          34958 non-null  object
 2   Customer_Name       34958 non-null  object
 3   Product_Style       34958 non-null  object
 4   Product_SKU         34958 non-null  object
 5   Product_Size        34958 non-null  object
 6   Quantity_Purchased  34958 non-null  object
 7   Price_per_Unit      34958 non-null  object
 8   Gross_Amount        34958 non-null  object
dtypes: object(9)
memory usage: 2.7+ MB

In [25]:
print(isr['Gross_Amount'][19675])
print(isr['Quantity_Purchased'][19675])
print(isr['Price_per_Unit'][19675])

Stock
RATE
GROSS AMT

In [26]:
isr = isr.drop(19675)

In [27]:
isr['Sale_Month'].unique()

array(['21-Jun', '21-Jul', '21-Aug', '21-Sep', '21-Oct', '21-Nov',
       '21-Dec', '22-Jan', '22-Feb', '22-Mar', '6/5/2021', '6/8/2021',
       '6/11/2021', '6/15/2021', '6/17/2021', '6/18/2021', '6/19/2021',
       '6/23/2021', '6/24/2021', '6/28/2021', '6/29/2021', '7/1/2021',
       '7/8/2021', '7/9/2021', '7/10/2021', '7/12/2021', '7/13/2021',
       '7/16/2021', '7/22/2021', '7/24/2021', '7/26/2021', '7/28/2021',
       '7/29/2021', '7/30/2021', '7/31/2021', '8/4/2021', '8/5/2021',
       '8/6/2021', '8/7/2021', '8/10/2021', '8/14/2021', '8/15/2021',
       '8/16/2021', '8/19/2021', '8/20/2021', '8/21/2021', '8/25/2021',
       '8/26/2021', '9/3/2021', '9/6/2021', '9/7/2021', '9/9/2021',
       '9/11/2021', '9/14/2021', '9/15/2021', '9/16/2021', '9/18/2021',
       '9/21/2021', '9/22/2021', '9/24/2021', '9/27/2021', '9/29/2021',
       '10/1/2021', '10/2/2021', '10/4/2021', '10/5/2021', '10/6/2021',
       '10/8/2021', '10/9/2021', '10/11/2021', '10/12/2021', '10/13/2021',
       '10/14/2021', '10/15/2021', '10/18/2021', '10/20/2021',
       '10/21/2021', '10/23/2021', '10/26/2021', '10/29/2021',
       '11/1/2021', '11/3/2021', '11/12/2021', '11/16/2021', '11/19/2021',
       '11/22/2021', '11/23/2021', '11/26/2021', '11/27/2021',
       '11/29/2021', '12/2/2021', '12/6/2021', '12/9/2021', '12/13/2021',
       '12/14/2021', '12/15/2021', '12/16/2021', '12/21/2021',
       '12/24/2021', '12/27/2021', '12/28/2021', '12/30/2021', '1/1/2022',
       '1/4/2022', '1/5/2022', '1/10/2022', '1/12/2022', '1/13/2022',
       '1/17/2022', '1/19/2022', '1/24/2022', '1/25/2022', '1/27/2022',
       '1/28/2022', '1/29/2022', '1/31/2022', '2/5/2022', '2/8/2022',
       '2/10/2022', '2/11/2022', '2/12/2022', '2/14/2022', '2/16/2022',
       '2/17/2022', '2/19/2022', '2/21/2022', '2/22/2022', '2/23/2022',
       '2/24/2022', '2/25/2022', '2/26/2022', '2/28/2022', '3/1/2022',
       '3/3/2022', '3/5/2022', '3/8/2022', '3/9/2022', '3/10/2022',
       '3/12/2022', '3/17/2022', '3/21/2022', '3/22/2022', '3/23/2022',
       '3/25/2022', '3/26/2022', '3/28/2022', '3/29/2022', '3/31/2022'],
      dtype=object)

In [28]:
isr = isr.drop('Sale_Month', axis=1) #data can be taken from Sale date

In [29]:
isr['Sale_Date'].unique()

array(['6/5/2021', '6/8/2021', '6/11/2021', '6/15/2021', '6/17/2021',
       '6/18/2021', '6/19/2021', '6/23/2021', '6/24/2021', '6/28/2021',
       '6/29/2021', '7/1/2021', '7/8/2021', '7/9/2021', '7/10/2021',
       '7/12/2021', '7/13/2021', '7/16/2021', '7/22/2021', '7/24/2021',
       '7/26/2021', '7/28/2021', '7/29/2021', '7/30/2021', '7/31/2021',
       '8/4/2021', '8/5/2021', '8/6/2021', '8/7/2021', '8/10/2021',
       '8/14/2021', '8/15/2021', '8/16/2021', '8/19/2021', '8/20/2021',
       '8/21/2021', '8/25/2021', '8/26/2021', '9/3/2021', '9/6/2021',
       '9/7/2021', '9/9/2021', '9/11/2021', '9/14/2021', '9/15/2021',
       '9/16/2021', '9/18/2021', '9/21/2021', '9/22/2021', '9/24/2021',
       '9/27/2021', '9/29/2021', '10/1/2021', '10/2/2021', '10/4/2021',
       '10/5/2021', '10/6/2021', '10/8/2021', '10/9/2021', '10/11/2021',
       '10/12/2021', '10/13/2021', '10/14/2021', '10/15/2021',
       '10/18/2021', '10/20/2021', '10/21/2021', '10/23/2021',
       '10/26/2021', '10/29/2021', '11/1/2021', '11/3/2021', '11/12/2021',
       '11/16/2021', '11/19/2021', '11/22/2021', '11/23/2021',
       '11/26/2021', '11/27/2021', '11/29/2021', '12/2/2021', '12/6/2021',
       '12/9/2021', '12/13/2021', '12/14/2021', '12/15/2021',
       '12/16/2021', '12/21/2021', '12/24/2021', '12/27/2021',
       '12/28/2021', '12/30/2021', '1/1/2022', '1/4/2022', '1/5/2022',
       '1/10/2022', '1/12/2022', '1/13/2022', '1/17/2022', '1/19/2022',
       '1/24/2022', '1/25/2022', '1/27/2022', '1/28/2022', '1/29/2022',
       '1/31/2022', '2/5/2022', '2/8/2022', '2/10/2022', '2/11/2022',
       '2/12/2022', '2/14/2022', '2/16/2022', '2/17/2022', '2/19/2022',
       '2/21/2022', '2/22/2022', '2/23/2022', '2/24/2022', '2/25/2022',
       '2/26/2022', '2/28/2022', '3/1/2022', '3/3/2022', '3/5/2022',
       '3/8/2022', '3/9/2022', '3/10/2022', '3/12/2022', '3/17/2022',
       '3/21/2022', '3/22/2022', '3/23/2022', '3/25/2022', '3/26/2022',
       '3/28/2022', '3/29/2022', '3/31/2022', 'REVATHY LOGANATHAN',
       'FARIA ESSOPP', 'MANGALAM SHOP', 'THANA NAGISSWARY L MARIMUTHU',
       'MR.ALWAR MURALI', 'RAZIA ROSEANE NASER', 'SIRI PADALA',
       'FUSION FASHIONS CORP.', 'MIZNA WAHEEDH',
       'AMANI CONCEPT TRADING LLC (KAPDA)', 'NITHARSHA', 'SYEDA MORSHED',
       'VINTAGE INDIA NYC', 'M/S CHARISMAKURTIES(DUBAI)',
       'MULBERRIES BOUTIQUE', 'COTTON CLOSET LTD', 'THANA MARIMUTHU',
       'SHWETA', 'MONIYSHAA', 'AANCHOL', 'KHUSBOO BEEHARRY', 'ARUNA DEVI',
       'YAMUNAH PUSPANATHAN', 'RISHIKESH DASHPUTRE', 'REGA',
       'SURE FASHIONS LLC', 'MR ALWAR MURALI', 'KOGILA SELLAPPAN',
       'MONISYAA', 'VINODHA PUSPANATHAN', 'REKA RASAKODY', 'ARKH FASHION',
       'PUVANES GANNASIN', 'VINI’S AUTHENTIC INDIAN ETHNIC WEAR',
       'BINCY SKARIA', 'YASHWINI REDDY', 'BANUJA RASAKODY',
       'VAHLAARMATHY', 'AKASH KAUSHAL', 'KIRUTHIKA V SURESHBABU',
       'RIVAAN LLC', 'SINDHU', 'DHENOOGA RAVINTHERAN',
       'VAHARSHA BOUTIQUE', 'MANISH DHOORUNDHUR', 'RINO SANDARAN',
       'VENDAN', 'VISHAL DARSHAN BOUTIQUE', 'KAVEENAZ COLLECTION',
       'ALAMELOO(MALA)', 'MURUGESAN CHANDRA', 'MEERA RASADURAI',
       'MANJULIKA GUPTA', 'GALAXY GROUP OF COMPANIES PVT. LTD',
       'NIRUSAH TAILORING', 'DEVY', 'VAHARSHA BOUTIQUE ',
       'KALAIVANI PERMALU', 'ARKH FASHION BOUTIQUE PTY LTD',
       'DANESHWARY RAMAR', 'MILLENIUS VENTURES', 'GEETHA RAJA GOPAL',
       'TANUJ UPPAL', 'ADDVEN SOLUTIONS PRIVATE LIMITED',
       'MRS DEVIANEE BALLAH', 'DEEPARATI MUKHERJEE', 'RANDHIR CHAUDHARY',
       'ANJU BHARATI', 'VISHA DEVAN', 'SWATI REDDY',
       'ABDUL RAHMAN(SINGAPORE)', 'RAJ.', 'MANGROWTEE SOOKDEB',
       'KAZI NURAN HAQUE', 'PUNITHAVATHY KARUPIAH', 'SUUMAYA CLOTHING',
       'NALINI', 'MR. GOPALDAS', 'REMMIA MATHEWS',
       'ANU RANJANI ANPALAGAN', 'ENTHULEGA ',
       'IBRAHIM MAFTHOOH(JANASYA.IN)', 'MAAVI FASHION', 'K.PARTHIBAN',
       'KHIRTHIKA ', 'HARSINIY KUMARESON', 'SWATI(SINGAPORE)',
       'SWEETY AKHTER', 'LEKSHMI', 'KHANJANA MOJEE', 'BISSY SKARIA',
       'TANUSREE MAJUMDER', 'SUGITHA SUGHUMARAN', 'THARSIKA EUGIN ',
       'JEVI', 'DIVYA', 'THILAS BOMBAY BOUTIQUE SDN BHD', 'MR.JEYARAJ',
       'ABBI COLLECTION ', 'AVIN  ', 'RANJANA DEV DEVRAJ',
       'NAYANA SAWLANI', 'MRS. THARANI SATHIYANATHAN ',
       'ETHNIC WEAVES FASHION LLC', 'MANGAI PRABHAKAR',
       'MRS. SUMITHA RAJU', 'RINA THAKURTA', 'MALLAR MAHALINGAM ',
       'THEVI MURUGAIAH', 'NATHIYA REDDY', 'MOHANA KARTHIK ',
       'SHILPI KUMARI', 'YASSHLINY KUNJU', 'BHANU SALEINE NAUNITHAM ',
       'TURGAH MUTHU KUMAR', 'VIKNES THREADS COLLECTION',
       'NITHA PUSHPANGADAN SARALA', 'RAVINDER VAID', 'AMBIKA SYAM SUNDAR',
       'ARANGAN FASHIONS', 'SANCHITA KARKI', 'OKASINA TRADING',
       'KASTHURI RAMASAMY', 'RADHIKA SANTHOSH', 'TASSELS LTD'],
      dtype=object)

In [30]:
isr['Gross_Amount'] = pd.to_numeric(isr['Gross_Amount'])
isr['Price_per_Unit'] = pd.to_numeric(isr['Price_per_Unit'])
isr['Quantity_Purchased'] = pd.to_numeric(isr['Quantity_Purchased'])

In [31]:
#isr['Sale_Date'] =  pd.to_datetime(isr['Sale_Date'])

In [32]:
isr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34957 entries, 0 to 37431
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sale_Date           34957 non-null  object
 1   Customer_Name       34957 non-null  object
 2   Product_Style       34957 non-null  object
 3   Product_SKU         34957 non-null  object
 4   Product_Size        34957 non-null  object
 5   Quantity_Purchased  34957 non-null  float64
 6   Price_per_Unit      34957 non-null  float64
 7   Gross_Amount        34957 non-null  int64
dtypes: float64(2), int64(1), object(5)
memory usage: 2.4+ MB

CLEANING AND FORMATTING SR

In [33]:
sr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9188 entries, 0 to 9234
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             9188 non-null   int64
 1   Product_SKU       9188 non-null   object
 2   Design_Number     9188 non-null   object
 3   Stock_Level       9188 non-null   float64
 4   Product_Category  9188 non-null   object
 5   Product_Size      9188 non-null   object
 6   Product_Color     9188 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 574.2+ KB

In [34]:
sr = sr.drop('index', axis=1) #Index does not lineup after dropping nulls

In [35]:
print(f"Amount of missing values in asr: {asr.isnull().sum().sum()}")
print(f"Amount of missing values in cwc: {cwc.isnull().sum().sum()}")
print(f"Amount of missing values in Expense IIGF: {expense.isnull().sum().sum()}")
print(f"Amount of missing values in International sales report: {isr.isnull().sum().sum()}")
print(f"Amount of missing values in may-2022: {may.isnull().sum().sum()}")
print(f"Amount of missing values in P L march: {pl.isnull().sum().sum()}")
print(f"Amount of missing values in Sales report: {sr.isnull().sum().sum()}")

Amount of missing values in asr: 0
Amount of missing values in cwc: 0
Amount of missing values in Expense IIGF: 0
Amount of missing values in International sales report: 0
Amount of missing values in may-2022: 0
Amount of missing values in P L march: 0
Amount of missing values in Sales report: 0

In [36]:
print(asr.shape)
print(cwc.shape)
print(expense.shape)
print(isr.shape)
print(may.shape)
print(pl.shape)
print(sr.shape)

(122073, 22)
(15, 4)
(5, 5)
(34957, 8)
(1330, 17)
(1330, 18)
(9188, 6)

In [37]:
pl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   1330 non-null   int64
 1   Product_SKU             1330 non-null   object
 2   Product_Style_ID        1330 non-null   object
 3   Product_Catalog         1330 non-null   object
 4   Product_Category        1330 non-null   object
 5   Product_Weight          1330 non-null   object
 6   Transfer_Price_Level_1  1330 non-null   object
 7   Transfer_Price_Level_2  1330 non-null   object
 8   Old_MRP                 1330 non-null   object
 9   Final_Old_MRP           1330 non-null   object
 10  Ajio_MRP                1330 non-null   object
 11  Amazon_MRP              1330 non-null   object
 12  Amazon_FBA_MRP          1330 non-null   object
 13  Flipkart_MRP            1330 non-null   object
 14  Limeroad_MRP            1330 non-null   object
 15  Myntra_MRP              1330 non-null   object
 16  Paytm_MRP
              1330 non-null   object
 17  Snapdeal_MRP            1330 non-null   object
dtypes: int64(1), object(17)
memory usage: 187.2+ KB

In [38]:
price_columns = ['Product_Weight','Transfer_Price_Level_1', 'Transfer_Price_Level_2', 'Old_MRP',
                 'Final_Old_MRP', 'Ajio_MRP', 'Amazon_MRP', 'Amazon_FBA_MRP',
                 'Flipkart_MRP', 'Limeroad_MRP', 'Myntra_MRP', 'Snapdeal_MRP',
                'Paytm_MRP']

In [39]:
pl.columns = pl.columns.str.strip() # there a leading and trailing whitespaces in some columns

In [40]:
for col in price_columns:
    pl[col] = pd.to_numeric(pl[col], errors='coerce').astype('float64')

In [41]:
pl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   1330 non-null   int64
 1   Product_SKU             1330 non-null   object
 2   Product_Style_ID        1330 non-null   object
 3   Product_Catalog         1330 non-null   object
 4   Product_Category        1330 non-null   object
 5   Product_Weight          1257 non-null   float64
 6   Transfer_Price_Level_1  1324 non-null   float64
 7   Transfer_Price_Level_2  1324 non-null   float64
 8   Old_MRP                 1293 non-null   float64
 9   Final_Old_MRP           1293 non-null   float64
 10  Ajio_MRP                1293 non-null   float64
 11  Amazon_MRP              1293 non-null   float64
 12  Amazon_FBA_MRP          1293 non-null   float64
 13  Flipkart_MRP            1293 non-null   float64
 14  Limeroad_MRP            1293 non-null   float64
 15  Myntra_MRP              1299 non-null   float64
 16  Paytm_MRP               1293 non-null   float64
 17  Snapdeal_MRP            1293 non-null   float64
dtypes: float64(13), int64(1), object(4)
memory usage: 187.2+ KB

In [42]:
may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             1330 non-null   int64
 1   Product_SKU       1330 non-null   object
 2   Product_Style_ID  1330 non-null   object
 3   Product_Catalog   1330 non-null   object
 4   Product_Category  1330 non-null   object
 5   Product_Weight    1330 non-null   object
 6   Transfer_Price    1330 non-null   object
 7   Old_MRP           1330 non-null   object
 8   Final_Old_MRP     1330 non-null   object
 9   Ajio_MRP          1330 non-null   object
 10  Amazon_MRP        1330 non-null   object
 11  Amazon_FBA_MRP    1330 non-null   object
 12  Flipkart_MRP      1330 non-null   object
 13  Limeroad_MRP      1330 non-null   object
 14  Myntra_MRP        1330 non-null   object
 15  Paytm_MRP         1330 non-null   object
 16  Snapdeal_MRP      1330 non-null   object
dtypes: int64(1), object(16)
memory usage: 176.8+ KB

In [43]:
may_columns = ['Product_Weight','Transfer_Price', 'Transfer_Price', 'Old_MRP',
                 'Final_Old_MRP', 'Ajio_MRP', 'Amazon_MRP', 'Amazon_FBA_MRP',
                 'Flipkart_MRP', 'Limeroad_MRP', 'Myntra_MRP', 'Snapdeal_MRP',
                'Paytm_MRP']

In [44]:
for col in may_columns:
    may[col] = pd.to_numeric(may[col], errors='coerce').astype('float64')

In [45]:
may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             1330 non-null   int64
 1   Product_SKU       1330 non-null   object
 2   Product_Style_ID  1330 non-null   object
 3   Product_Catalog   1330 non-null   object
 4   Product_Category  1330 non-null   object
 5   Product_Weight    1257 non-null   float64
 6   Transfer_Price    1324 non-null   float64
 7   Old_MRP           1293 non-null   float64
 8   Final_Old_MRP     1293 non-null   float64
 9   Ajio_MRP          1293 non-null   float64
 10  Amazon_MRP        1293 non-null   float64
 11  Amazon_FBA_MRP    1293 non-null   float64
 12  Flipkart_MRP      1293 non-null   float64
 13  Limeroad_MRP      1293 non-null   float64
 14  Myntra_MRP        1299 non-null   float64
 15  Paytm_MRP         1293 non-null   float64
 16  Snapdeal_MRP      1293 non-null   float64
dtypes: float64(12), int64(1), object(4)
memory usage: 176.8+ KB